<style>
    footer{
        background-color:#8673D1;
    }
    .developed-by p{
        text-align: center;
        display:block;
        padding: 20px auto;
        color:white;
    }
    .developed-by{
        padding:10px auto;
        margin:0;
        font-size:10px;
    }
    .developed-by p{
        margin:0;
        padding:20px;
    }
    .Error{
        padding:10px 50px;
        color:white;
        border-bottom:1px solid white;
        font-size:12px;
    }
    .Error p a{
        color:white;
    }
    .Error p{
        color:white;
        text-align:center;
    }
</style>
<footer>
    <div class="Error">
        <p>This platform is in developing stage, if like to suggest any futures or find any issue/bug or typo error in this website kindly share it <a href="https://github.com/clubofelite-gceb/clubofelite-gceb.github.io/issues/new/choose">here</a></p>
    </div>
    <div class="developed-by">
        <p>Developed by ECE 2019-2023 batch students</p>
    </div>
</footer>