@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box !important;
    font-family: 'Open Sans', sans-serif;
}
body{
    width:100vw !important;
    scroll-behavior: smooth;
}
section .ece-gceb{
    font-size:14px !important;
    padding:0 !important;
}
.hero{
    width:100vw;
    Height:100vh;
    background:linear-gradient(0,#775edc,#e463a8);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    animation: bg-hero-anim;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

.hero h1{
    color:white;
    font-size: 40px;
    padding-bottom:20px;
    font-weight:bolder;
    text-align:center;
}
.hero p{
    color:white;
    font-size:30px;
    text-align:center;
    max-width:80vw;
}
.event
{
    width:100vw;
    height:98vh;
    background-color:#F9DEDE;
}
.event h2{
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    color:#b89999;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
}
.events{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:60%;
}
.event-div{
    display:flex;
    flex-direction:column;
    background-color:#bf9696;
    border-radius:20px;
    padding:0px 0px 20px 0px;
    width:max-content;
    margin:30px;
    box-shadow:3px 3px 10px 1px gray;
}
.event-div p, .event-div a p{
    display:block;
    width:180px;
    margin:10px auto;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color:#fff1f1;
    text-decoration:none;
    font-weight: bold;
}
.event-div a{
    text-decoration:none;
    font-weight:bold;
}
.event-div img{
    width:300px;
    border-radius:20px;
}
/* Tholil*/
.tholil-container{
    width:100%;
    height:max-content;
    padding:20px;
    background-color:white;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.tholil-container p{
    font-size: 16px;
    width:50%;
    color:white;
    margin: 10px 40px;
}
.tholil-div{
    box-shadow:5px 5px #f7dada;
    padding:20px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:#7a6060;
}
.tholil-container a{
    font-size:16px;
    text-decoration: none;
    border: 2px solid white;
    padding:6px 30px;
    border-radius: 10px;
    color:white;
    box-shadow: 0px 0px 10px rgb(110, 71, 71);
}

@media screen and (max-width: 700px){
    .hero h1{
        font-size: 28px;
    }
    .hero p{
        font-size: 20px;
    }
    .events{
        flex-direction:column;
    }
    .event-div img{
        width:200px;
        border-radius:10px;
    }
    .event-div{
        margin:1;
    }

}

/* ECE-Department */
.about{
    padding:30px;
    height:100vh;
    background-color:#f7dada;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-title{
    display:block;
    text-align:center;
    margin-bottom:30px;
    color:#7a6060;
    position:relative;
    top:-100px;
}
.deparECE{
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f7dada;
    padding-right:20px;
    padding:0;
}
.deparECE-left{
    padding-left:40px;
    padding-right:60px;
    width:100px;
    position:relative;
    left:-100px;
    z-index:2;
}


.about-content-container{
    background-color:#7a6060;
    color:white;
    padding:20px;
    border-radius:20px;
    animation-name: imae2;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes imae2{
    0%{
        transform:translate(0px, 0px );
    }
    50%{
        transform:translate(-4px, -4px );
    }
    100%{
        transform:translate(0px, 0px);
    }
}
.ece-block{
    width:200px;
    box-shadow:5px 5px #bf9696;
    position:relative;
    animation-name: imae;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes imae{
    0%{
        transform:translate(0px, 0px );
    }
    50%{
        transform:translate(10px, 10px );
    }
    100%{
        transform:translate(0px, 0px);
    }
}
.about-subtitle{
    font-size:18px;
    padding-bottom:6px;
}
.about-content{
    font-size:12px;
}
.about-about{
    padding-bottom:14px;
}
.about-inner-container{
    width:600px;
    padding-left:40px;
}
@media screen and (max-width:500px){
    .tholil-div{
        flex-direction: column;
        width:300px;
    }
    .tholil-div p{
        margin:0;
        width:250px;
        text-align:center;
        margin-bottom: 20px;
        font-size:16px;
    }
}
@media Screen and (max-width:700px){
    .about-inner-container{
        width:300px;
        padding-left:0px;
    }
    .deparECE{
        flex-direction: column;
    }
    .about-title{
        top:0;
    }
}

/* companies */
.companies img{
    height:60px;
    width:150px;
    margin:20px;
    transition:0.5s ease-in-out;
}
.companies{
    display:flex;
    white-space:nowrap;
    overflow-x: scroll;
    scroll-behavior: smooth;
    margin:50px auto;
}
.companies::-webkit-scrollbar{
    height:5px;
}
.companies::-webkit-scrollbar-thumb{
    background:#bf9696;
    border-radius:20px;
}
.companies::-webkit-scrollbar-track{
    background:#fff1f1;
}
.company{
    padding:20px;
}
.Company-comes{
    text-align:center;
    font-size:20px;
    color:rgb(110, 71, 71);
}
.companies img:hover{
    transform:scale(1.3);
}
/* student knowldege */
.student-knowledge{
    min-height:100vh;
    padding:50px;
    background-color:#bf9696;
}
.student-skills{
    text-align:center;
    font-size:20px;
    color:#fafafa;
    margin-bottom:20px;
}
.lab{
    background-color:white;
    margin:10px;
    padding:20px;
    height:300px;
    width:300px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:14px;
    box-shadow:8px 8px #6ebdb1;
    transition:0.5s ease-in-out;
}
.lab1{
    display:block;
    margin:auto;
    width:200px;
    color:#2c625a;
}
.labe{
    background-color:white;
    margin:10px;
    padding:20px;
    height:300px;
    width:750px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:14px;
    box-shadow:8px 8px #6ebdb1;
    transition:0.5s ease-in-out;
}
.lab:hover, .labe:hover{
    transform:scale(1.05);
    background-color:#d7fdf8;
}
.lab1e{
    display:block;
    margin:auto;
    width:650px;
    color:#2c625a;
}
.lab-flex{
    display:flex;
    width:max-content;
}
.skills-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.skill-title{
    font-size:16px;
    color:#59a599;
}

@media screen and (max-width:850px){
    .lab-flex{
        flex-direction: column;
    }
    .labe{
        width:300px;
        height:auto;
    }
    .lab1e{
        width:200px;
    }
}

.hireour{
    padding:20px;
    font-size:24px;
    color:#7a6060;
    text-align:center;
    background-color:#ffd5d5;
}
.place-contacts{
    background-color:#7a6060;
    color:white;
    border:none;
    border-radius:10px;
    border:none;
    font-size:16px;
    padding:10px 20px;
    text-decoration:none;
    margin-left:10px;
}
@media screen and (max-width:700px){
    
    .hire-title{
        font-size:18px;
    }
    .place-contacts{
        font-size:14px;
    }
}