@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box !important;
    font-family: 'Open Sans', sans-serif;
}
body{
    width:100vw !important;
}
section .ece-gceb{
    font-size:14px !important;
    padding:0 !important;
}
.hero{
    width:100vw;
    Height:100vh;
    background:linear-gradient(0,#775edc,#e463a8);
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    animation: bg-hero-anim;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

.hero h1{
    color:white;
    font-size: 40px;
    padding-bottom:20px;
    font-weight:bolder;
    text-align:center;
}
.hero p{
    color:white;
    font-size:30px;
    text-align:center;
    max-width:80vw;
}
.event
{
    width:100vw;
    height:98vh;
    background-color:#F9DEDE;
}
.event h2{
    padding: 50px;
    font-family: 'Open Sans', sans-serif;
    color:#b89999;
    font-size:30px;
    font-weight:bolder;
    text-align:center;
}
.events{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    height:60%;
}
.event-div{
    display:flex;
    flex-direction:column;
    background-color:#bf9696;
    border-radius:20px;
    padding:0px 0px 20px 0px;
    width:max-content;
    margin:30px;
    box-shadow:3px 3px 10px 1px gray;
}
.event-div p, .event-div a p{
    display:block;
    width:180px;
    margin:10px auto;
    text-align:center;
    font-family: 'Open Sans', sans-serif;
    color:#fff1f1;
    text-decoration:none;
    font-weight: bold;
}
.event-div a{
    text-decoration:none;
    font-weight:bold;
}
.event-div img{
    width:300px;
    border-radius:20px;
}
/* Tholil*/
.tholil-container{
    width:100%;
    height:98vh;
    background-color:#E9E3FF;
    padding: 10px 50px;
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}
.tholil-container p{
    font-size: 24px;
    width:40%;
    color:#7c7498;
    margin: 10px 40px;
}
.tholil-container a{
    font-size:30px;
    text-decoration: none;
    border: 2px solid #7c7498;
    padding:6px 30px;
    border-radius: 10px;
    color:#7c7498;
    box-shadow: 0px 0px 10px #7c7498;
}
@media screen and (max-width: 700px){
    .hero h1{
        font-size: 28px;
    }
    .hero p{
        font-size: 20px;
    }
    .events{
        flex-direction:column;
    }
    .event-div img{
        width:200px;
        border-radius:10px;
    }
    .event-div{
        margin:1;
    }

}