<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="assets/css/styles.css"/>
    </head>
    <body>
        {% include header.html %}
        <section class="hero">
            <h1>Welcome to Club of Elite,</h1>
            <p>A portal to share the useful resources to the students</p>
            <p class="ece-gceb"> from ECE, GCEB</p>
        </section>
        <section class="event">
            <h2>Events</h2>
            <div class="events">
                <div class="event-div event-1">
                    <a href="Arduino-Event-gallery.html">
                    <img src="https://media.sonar.es/attached_images/26675/medium/TOM_WORKSHOP_1600x938PX.jpg?1551671966">
                    <p>Arduino hands on workshop</p>
                    </a>
                </div>
                <div class="event-div event-1">
                <a href="Knowledgeshareevent-1.html">
                    <img src="https://cloud.squidex.io/api/assets/sorwe-cms/86467ba1-8df0-472b-b55d-33b90c2b90d4">
                    <p>Knowledge share on useful resources</p>
                </a>
                </div>
            </div>
        </section>
        <section class="tholil-container">
            <div class="tholil-div">
                <p>
                    If you‘re having confusion in finding your goals, or do not know where to start your learning to attain your goal, View Tholil (A career guiding platform)
                </p>
                <a href="https://tholil.github.io/">Tholil</a>
            </div>
        </section>
        <section class="about">
            <h1 class="about-title">Department of ECE</h1>
            <div class="deparECE">
                <div class="deparECE-left">
                    <img src="assets/img/ece/ECE-block.jpg" alt="" class="ece-block">
                </div>
                <div class="about-content-container">
                    <div class="about-inner-container">
                        <div class="about-about">
                            <h2 class="about-subtitle">About</h2>
                            <p class="about-content">The department of electronic and communication engineering has its own assortment of skills to show off, since its inception. It has been maintaining high academic standards and help students to hardness their professional strength and it instills the value of honesty, hard work and commitment in them.
                            </p>
                        </div>
                        <div class="about-about">
                            <h2 class="about-subtitle">Vison</h2>
                            <p class="about-content">We envision our students to be excellent engineers not only in the field of science and technology, but also embed the greatest values of human life. Our commitment lies in producing good citizens, comprehensive knowledge seekers and remains as an asset in building a strong and developed nation.
                            </p>
                        </div>
                        <div class="about-about">
                            <h2 class="about-subtitle">Mision</h2>
                            <p class="about-content">To achieve the vision we should have hard working faculty who use effective teaching methodologies. To impart knowledge in the latest trends of technical education. To prepare our young students to become professionally and morally sound Engineers. To teach global standards in production and value based living through a truthful and technical approach.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="student-knowledge">
            <h1 class="student-skills">Students Skills</h1>
            <div class="skills-container"> 
                <div class="lab-flex">
                    <div class="lab">
                        <h3 class="skill-title">Laboratory</h3>
                        <ul class="lab1">
                            <li>DSP & VLSI Laboratory</li>
                            <li>Robotics Lab</li>
                            <li>Electronics Circuits Lab</li>
                            <li>Microcontroller And Microprocessor Lab</li>
                            <li>Microwave Lab</li>
                            <li>Networking Lab</li>
                        </ul>
                    </div>
                    <div class="lab">
                        <h3 class="skill-title">Students Activity</h3>
                        <ul class="lab1">
                            <li>1 Month Internship</li>
                            <li>Attending Workshops, PPT's, & Project work, Hackathons</li>
                            <li>Conducting the National Level Technical Symposium</li>
                            <li>Hands on Project</li>
                            <li>Conducting technical events</li>
                        </ul>
                    </div>
                </div>
                <div class="labe">
                    <h3 class="skill-title">Skills</h3>
                    <ul class="lab1e">
                        <li>Creating and testing of Electronics Circuits(Analog and Digital circuits like opAmps, 555 timers, regulators, filters, amplifier,...etc)</li>
                        <li>Analysing Circuits and Signals in Simulation software's like Multisim, Matlab... etc</li>
                        <li>Analog and Digital Communication</li>
                        <li>VLSI designing by using Verilog in Xilinx</li>
                        <li>Digital Signal Processing</li>
                        <li>C, C++, Embedded C</li>
                        <li>Microprocessor(8086), Microcontroller(8051)</li>
                        <li>Arduino, IOT, Embedded Systems</li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="company">
            <h1 class="Company-comes">Company Come's to our College (GCE, Bargur)</h1>
            <div class="companies">
                <img src="https://www.zenithtechnologies.com/wp-content/uploads/2021/03/Cognizant_Logo_Brand_Blue_300_RGB%C2%AE-small.png" alt="">
                <img src="https://d2u56hfpsewfc3.cloudfront.net/images/econ_logo.jpg" alt="">
                <img src="https://companieslogo.com/img/orig/TCS.NS-7401f1bd.png" alt="">
                <img src="https://www.anthology.com/sites/default/files/styles/2000w/public/2022-07/Lightcast-logo.png?itok=UJsntpZB" alt="">
                <img src="https://content.jdmagicbox.com/comp/chennai/75/044p7003475/catalogue/jasmin-infotech-pvt-ltd-pallikaranai-chennai-computer-software-developers-2k0ol0b.jpg" alt="">
                <img src="https://scontent.fixm4-1.fna.fbcdn.net/v/t31.18172-8/1233156_1378282949060886_1293213466_o.jpg?_nc_cat=101&ccb=1-7&_nc_sid=e3f864&_nc_ohc=c90FL7K5FHcAX-NnFtY&_nc_ht=scontent.fixm4-1.fna&oh=00_AfCg0hY7tqI_UDyzlHYB6QI_gVxI5ZuiR0vp6MQo2tGlXQ&oe=647C0F01" alt="">
                <img src="https://www.microsemi.com/images/ecosystem/ami-logo-CMYK_KO.png" alt="">
                <img src="https://www.bsetec.com/public/images/logo_new.png" alt="">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaSSAryjsU6u17_k9bekD3-HSYR0SuxiWZRKoZuKZ5fg&s" alt="">
                <img src="https://media.glassdoor.com/sqll/1540894/jman-group-squareLogo-1656080203922.png" alt="">
                <img src="https://blog.admindroid.com/wp-content/uploads/2019/03/cropped-AdminDroid-Logo-Copy-1.png" alt="">
                <img src="https://triphasetech.com/wp-content/uploads/2019/01/TT_New-Logo.png" alt="">
                <img src="https://telliant.com/wp-content/uploads/2021/06/Telliant-Logo.png" alt="">
                <img src="https://rapidsilicon.com/wp-content/uploads/2023/01/RS-Logo-For-White-Background-1-5.png" alt="">
            </div>
        </section>
        <section class="hireour">
            <h3 class="hire-title">Hire our Students |<a href="https://gcebargur.ac.in/placement-contact" class="place-contacts" target="_blank">Contact Us</a> </h3>
        </section>
    {% include footer.html %}
    </body>
</html>